[submodule "apps/stages/pose-estimation/igait-mediapipe"]
	path = apps/stages/pose-estimation/igait-mediapipe
	url = https://github.com/igait-niu/igait-mediapipe

[submodule "apps/stages/cycle-detection/igait-gait-cycle-detection"]
	path = apps/stages/cycle-detection/igait-gait-cycle-detection
	url = https://github.com/igait-niu/igait-gait-cycle-detection

[submodule "apps/stages/prediction/iGAIT_MODEL_IO"]
	path = apps/stages/prediction/iGAIT_MODEL_IO
	url = https://github.com/igait-niu/iGAIT_MODEL_IO
